.title {
  padding: 50px 20px;
  text-align: center;
} 
.title h1 {
  font-family: 'Merriweather', serif;
  position: relative;
  color: #000000;
  font-size: 50px;
  font-weight: normal;
  padding: 8px 20px 7px 20px;
  border-top: 4px solid;
  border-left: 4px solid;
  display: inline-block;
  margin: 0;
  line-height: 1;
}
.title h1:before {
  content: ""; 
  position: absolute;
  width: 28px;
  height: 28px;
  top: -28px;
  left: -28px;
  border: 4px solid #000000;
  box-sizing: border-box;
}
@media (max-width: 450px) {
  .title h1 {font-size: 36px;}
  .title h1:before {
    width: 20px;
    height: 20px;
    top: -20px;
    left: -20px;
  }
}

.slider-container {
  position: relative;
  width: 600px;
  height: 450px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  }
  
  .glow-on-hover {
  width: 120px;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  }
  
  .glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  }
  
  .glow-on-hover:active {
  color: #000;
  }
  
  .glow-on-hover:active:after {
  background: transparent;
  }
  
  .glow-on-hover:hover:before {
  opacity: 1;
  }
  
  .glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
  }
  
  .slide-info {
  color: #fff;
  margin: 0 20px;
  }
  
  @keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
  }
  
  .current-slide {
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
  }